<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ym.intent">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppActivity" />
        <activity android:name=".App2Acitivity" />
        <activity android:name=".SenderActivity" />
        <activity android:name=".ReceiverActivity" />
        <activity android:name=".PassingFromActivity" />
        <activity android:name=".PassingToAcitivity" />
        <activity android:name=".ImplicitIntentActivity">

        </activity>
        <activity android:name=".DateExAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeActivity">
            <intent-filter>
                <action android:name="com.example.ym.intent.action.showtime"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>
        <activity android:name=".DateAcitvity">
            <intent-filter>
                <action android:name="com.example.ym.intent.action.showdate"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".DateEx2Activity">
            <intent-filter>
                <action android:name="com.example.ym.intent.action.showdate"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>
    </application>

</manifest>